Repository boschXdaimlerLove/MietMiez, pull requests merged in 2025-06, with the labels that each got.

#39 fix(api): change tests username -> email
  backend/internal/controllers/user.go
  backend/internal/database/migrations.go
  backend/routes/routes.go
  openapi/mietmiez-api-coverage/user/Log-in user1 (failure- wrong pw).bru
  openapi/mietmiez-api-coverage/user/Log-in user1 (failure- wrong username).bru
  openapi/mietmiez-api-coverage/user/Log-in user1.bru
  openapi/mietmiez-api-coverage/user/Log-in user2- new pw.bru
  openapi/mietmiez-api-coverage/user/Log-in user2.bru
  openapi/mietmiez-api-coverage/user/Obtain information (failure- not found).bru
  openapi/mietmiez-api-coverage/user/Obtain information about user2.bru
  openapi/mietmiez-api-coverage/user/Register user1 (failure- conflict).bru
  openapi/mietmiez-api-coverage/user/Update user (failure- unauthenticated).bru
  openapi/mietmiez-api-coverage/user/Update user2 email.bru
Labels: backend

#41 feat(frontend): Added Footer and example Petcard to the front UI
  frontend/mietmiez/src/app/design/Petcard.tsx
  frontend/mietmiez/src/app/globals.css
  frontend/mietmiez/src/app/page.tsx
  frontend/mietmiez/tailwind.config.js
  package-lock.json
Labels: frontend, styling, ui

#35 feat(backend): GET v1/categories endpoint
  backend/internal/controllers/category.go
  backend/internal/database/connect.go
  backend/internal/database/migrations.go
  backend/internal/database/models/category.go
  backend/routes/routes.go
  openapi/mietmiez.yml
Labels: backend, api

#44 feat(backend): add GET /user endpoint
  backend/internal/controllers/user.go
  backend/routes/routes.go
  openapi/mietmiez.yml
Labels: backend, api

#54 feat(api): add GET /advertisement/:id and POST /advertisement
  backend/internal/controllers/advertisement.go
  backend/internal/database/models/advertisement.go
  backend/internal/database/models/user.go
  backend/internal/util/authentication.go
  backend/routes/routes.go
  openapi/mietmiez-api-coverage/advertisement/Create new advertisement.bru
  openapi/mietmiez-api-coverage/advertisement/Obtain advertisement information.bru
  openapi/mietmiez.yml
Labels: backend

#60 feat(api): get recent ads endpoint
  backend/internal/controllers/advertisement.go
  backend/internal/database/models/advertisement.go
  backend/internal/util/database.go
  backend/routes/routes.go
  openapi/mietmiez-api-coverage/advertisement/Get the most current advertisements.bru
  openapi/mietmiez.yml
Labels: backend, api

#73 fix(gitignore): exclude vscode files
  .gitignore
Labels: beautiful as butterfly

#66 feat(backend): add /advertisement/search endpoint
  backend/internal/controllers/advertisement.go
  backend/internal/database/models/advertisement.go
  backend/routes/routes.go
  openapi/mietmiez.yml
Labels: backend

#79 fix(api): return user token in json
  backend/internal/config/config.go
  backend/internal/controllers/user.go
  backend/routes/routes.go
  openapi/mietmiez.yml
Labels: backend, api
