Repository boschXdaimlerLove/MietMiez, pull requests merged in 2025-07, with the labels that each got.

#81 feat(frontend): Responsive design, fix header and footer, HandleSubmit Logic and change button
  frontend/mietmiez/public/cat.jpg
  frontend/mietmiez/public/dogs.jpg
  frontend/mietmiez/public/dolphin.jpg
  frontend/mietmiez/src/app/components/ImageCarousel.tsx
  frontend/mietmiez/src/app/components/header.tsx
  frontend/mietmiez/src/app/layout.tsx
  frontend/mietmiez/src/app/login/page.tsx
  frontend/mietmiez/src/app/objects/user.ts
  frontend/mietmiez/src/app/profile/page.tsx
  frontend/mietmiez/src/app/register/page.tsx
  frontend/mietmiez/src/app/server_communication/UserCommunication.ts
Labels: frontend

#63 feat(backend): add DELETE /advertisement endpoint
  backend/internal/controllers/advertisement.go
  backend/routes/routes.go
  openapi/mietmiez.yml
Labels: backend, api

#62 feat(api) restructure compose + add img upload/ download to minio
  README.md
  backend-config.yml
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/controllers/images.go
  backend/internal/minio/connect.go
  backend/main.go
  backend/routes/routes.go
  configs/.backend.env
  configs/.frontend.env
  configs/.minio.env
  configs/.postgres.env
  configs/README.md
  docker-compose.yml
  openapi/mietmiez-api-coverage/advertisement/folder.bru
  openapi/mietmiez-api-coverage/beaver.gif
  openapi/mietmiez-api-coverage/image/download image.bru
  openapi/mietmiez-api-coverage/image/folder.bru
  openapi/mietmiez-api-coverage/image/upload -image.bru
  openapi/mietmiez-api-coverage/user/folder.bru
  openapi/mietmiez.yml
Labels: backend, api

#82 fix(api): add MaxBodySizeMB + img upload auth
  backend/internal/config/config.go
  backend/internal/controllers/image.go
  backend/main.go
  configs/.backend.env
  configs/README.md
  openapi/mietmiez-api-coverage/image/upload -image.bru
  openapi/mietmiez-api-coverage/user/Log-in user1.bru
Labels: backend, api

#83 fix(api): disable traefik for backend
  docker-compose.yml
Labels: backend

#90 fix(frontend): fix communication and optimisation
  docker-compose.yml
  frontend/mietmiez/package-lock.json
  frontend/mietmiez/src/app/components/ImageCarousel.tsx
  frontend/mietmiez/src/app/layout.tsx
Labels: frontend

#92 fix(build): fix deployment + ease deployment config
  docker-compose.yml
Labels: backend

#103 fix(minio): connection issues
  docker-compose.yml
Labels: bug

#108 fix(backend): remove dependencies minio{2...4}
  docker-compose.yml
Labels: bug, backend

#106 feat(frontend): add image upload
  frontend/mietmiez/src/app/about/page.tsx
  frontend/mietmiez/src/app/advertisement/[id]/page.tsx
  frontend/mietmiez/src/app/advertisement/new/page.tsx
  frontend/mietmiez/src/app/api/advertisement/image/route.ts
  frontend/mietmiez/src/app/api/login/route.ts
  frontend/mietmiez/src/app/api/logout/route.ts
  frontend/mietmiez/src/app/api/register/route.ts
  frontend/mietmiez/src/app/components/HeaderWrapper.tsx
  frontend/mietmiez/src/app/components/footer.tsx
  frontend/mietmiez/src/app/home/Home.tsx
  frontend/mietmiez/src/app/home/page.tsx
  frontend/mietmiez/src/app/login/page.tsx
  frontend/mietmiez/src/app/objects/advertisement.ts
  frontend/mietmiez/src/app/profile/page.tsx
  frontend/mietmiez/src/app/register/page.tsx
  frontend/mietmiez/src/app/search/page.tsx
  frontend/mietmiez/src/app/server_communication/client/ClientAdvertisementCommunication.ts
  frontend/mietmiez/src/app/server_communication/client/ClientUserCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/AdvertisementCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/GeneralServerCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/UserCommunication.ts
Labels: enhancement, frontend

#113 feat(frontend): upload image
  .vscode/launch.json
  .vscode/settings.json
  configs/.backend.env
  frontend/mietmiez/package-lock.json
  frontend/mietmiez/src/app/advertisement/[id]/page.tsx
  frontend/mietmiez/src/app/advertisement/new/page.tsx
  frontend/mietmiez/src/app/api/advertisement/image/route.ts
  frontend/mietmiez/src/app/api/advertisement/route.ts
  frontend/mietmiez/src/app/api/logout/route.ts
  frontend/mietmiez/src/app/api/register/route.ts
  frontend/mietmiez/src/app/components/HeaderContext.tsx
  frontend/mietmiez/src/app/components/HeaderWrapper.tsx
  frontend/mietmiez/src/app/components/ImageSlider.tsx
  frontend/mietmiez/src/app/components/PetGrid.tsx
  frontend/mietmiez/src/app/components/button.tsx
  frontend/mietmiez/src/app/components/cards/Petcard.tsx
  frontend/mietmiez/src/app/components/cards/UserCard.tsx
  frontend/mietmiez/src/app/components/header.tsx
  frontend/mietmiez/src/app/home/Home.tsx
  frontend/mietmiez/src/app/login/page.tsx
  frontend/mietmiez/src/app/objects/Pet.ts
  frontend/mietmiez/src/app/objects/advertisement/AdvertisementFetched.ts
  frontend/mietmiez/src/app/objects/advertisement/AdvertisementUpload.ts
  frontend/mietmiez/src/app/objects/user/UserUpload.ts
  frontend/mietmiez/src/app/objects/user/user.ts
  frontend/mietmiez/src/app/profile/settings/page.tsx
  frontend/mietmiez/src/app/register/page.tsx
  frontend/mietmiez/src/app/server_communication/client/ClientAdvertisementCommunication.ts
  frontend/mietmiez/src/app/server_communication/client/ClientUserCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/AdvertisementCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/UserCommunication.ts
  package-lock.json
  package.json
Labels: enhancement, frontend

#126 fix(backend): translate german categories to english and add new categories
  backend/internal/database/migrations.go
Labels: backend, database

#124 feat(frontend): add profile/{mail} page
  frontend/mietmiez/package-lock.json
  frontend/mietmiez/src/app/advertisement/[id]/page.tsx
  frontend/mietmiez/src/app/components/cards/UserCard.tsx
  frontend/mietmiez/src/app/components/routing/EmailField.tsx
  frontend/mietmiez/src/app/profile/[mail]/page.tsx
Labels: enhancement, frontend

#125 fix(frontend): change category in new advertisement to dropdown instead of textfield
  frontend/mietmiez/src/app/advertisement/new/NewAdvertisementContext.tsx
  frontend/mietmiez/src/app/advertisement/new/NewAdvertisementPage.tsx
  frontend/mietmiez/src/app/advertisement/new/page.tsx
  frontend/mietmiez/src/app/components/header.tsx
Labels: enhancement, frontend

#134 fix(frontend): multiple images are now displayed
  frontend/mietmiez/src/app/advertisement/new/NewAdvertisementPage.tsx
Labels: frontend

#143 feat(frontend): implement image fetching
  frontend/mietmiez/src/app/advertisement/[id]/page.tsx
  frontend/mietmiez/src/app/api/advertisement/image/route.ts
  frontend/mietmiez/src/app/components/ImageSlider.tsx
  frontend/mietmiez/src/app/components/cards/Petcard.tsx
Labels: enhancement, frontend

#139 fix(api): emails didn't work
  backend/internal/config/config.go
  backend/internal/controllers/user.go
  backend/internal/util/email.go
  configs/.backend.env
  configs/static/email_activateUser.html
  configs/static/email_resetPassword.html
  docker-compose.yml
Labels: bug, backend, api

#144 docs(backend): adding doc comments
  backend/internal/config/config.go
  backend/internal/controllers/advertisement.go
  backend/internal/controllers/category.go
  backend/internal/controllers/system.go
  backend/internal/controllers/user.go
  backend/routes/routes.go
Labels: documentation, beautiful as butterfly, backend

#148 docs(openapi): fixing some errors in api specification
  openapi/mietmiez.yml
Labels: documentation

#150 fix(frontend): change password now works
  frontend/mietmiez/src/app/api/user/change-password/route.ts
  frontend/mietmiez/src/app/profile/Profile.tsx
  frontend/mietmiez/src/app/server_communication/server/UserCommunication.ts
Labels: frontend

#154 fix(backend): correct links in email
  configs/static/email_activateUser.html
  configs/static/email_resetPassword.html
Labels: bug, backend

#155 fix(api): user deletion deletes ads as well
  backend/internal/controllers/advertisement.go
  backend/internal/controllers/user.go
  backend/internal/database/models/advertisement.go
  backend/internal/database/models/user.go
  configs/.backend.env
Labels: bug, backend, api

#157 feat(frontend): delete advertisement
  frontend/mietmiez/src/app/api/advertisement/route.ts
  frontend/mietmiez/src/app/components/advertisement/AdvertisementEdit.tsx
  frontend/mietmiez/src/app/server_communication/client/ClientAdvertisementCommunication.ts
Labels: enhancement, frontend

#158 feat(frontend): translate site
  frontend/mietmiez/src/app/activateUser/[token]/page.tsx
  frontend/mietmiez/src/app/advertisement/new/NewAdvertisementPage.tsx
  frontend/mietmiez/src/app/api/advertisement/route.ts
  frontend/mietmiez/src/app/components/advertisement/AdvertisementEdit.tsx
  frontend/mietmiez/src/app/components/cards/Petcard.tsx
  frontend/mietmiez/src/app/home/Home.tsx
  frontend/mietmiez/src/app/login/Login.tsx
  frontend/mietmiez/src/app/profile/Profile.tsx
  frontend/mietmiez/src/app/profile/[mail]/page.tsx
  frontend/mietmiez/src/app/register/Register.tsx
  frontend/mietmiez/src/app/search/page.tsx
Labels: frontend

#160 feat(frontend): implement password reset
  frontend/mietmiez/src/app/advertisement/new/NewAdvertisementPage.tsx
  frontend/mietmiez/src/app/api/user/reset-password/route.ts
  frontend/mietmiez/src/app/components/UserState/PasswordResetInput.tsx
  frontend/mietmiez/src/app/components/advertisement/AdvertisementEdit.tsx
  frontend/mietmiez/src/app/components/header.tsx
  frontend/mietmiez/src/app/login/Login.tsx
  frontend/mietmiez/src/app/objects/internal/Pet.ts
  frontend/mietmiez/src/app/objects/internal/category.ts
  frontend/mietmiez/src/app/resetPasswort/[token]/page.tsx
  frontend/mietmiez/src/app/server_communication/client/ClientUserCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/AdvertisementCommunication.ts
  frontend/mietmiez/src/app/server_communication/server/UserCommunication.ts
Labels: frontend

#162 fix(backend): name images uniquely
  backend/internal/controllers/image.go
Labels: backend, api

#164 fix!(backend): change argon2id config
  backend/internal/config/config.go
  backend/internal/controllers/user.go
  backend/internal/util/hashing.go
Labels: backend, api

#175 fix(frontend): multiple fixes and improvements
  frontend/mietmiez/public/images/favicon.ico
  frontend/mietmiez/public/images/logo.png
  frontend/mietmiez/public/mietmiez_icon_256.png
  frontend/mietmiez/public/mietmiez_icon_512.png
  frontend/mietmiez/src/app/advertisement/new/page.tsx
  frontend/mietmiez/src/app/apple-icon.png
  frontend/mietmiez/src/app/components/PetGrid.tsx
  frontend/mietmiez/src/app/components/UserState/AlreadyLoggedIn.tsx
  frontend/mietmiez/src/app/components/UserState/NotLoggedIn.tsx
  frontend/mietmiez/src/app/components/button.tsx
  frontend/mietmiez/src/app/components/cards/Petcard.tsx
  frontend/mietmiez/src/app/components/footer.tsx
  frontend/mietmiez/src/app/components/header.tsx
  frontend/mietmiez/src/app/favicon.ico
  frontend/mietmiez/src/app/home/Home.tsx
  frontend/mietmiez/src/app/icon.png
  frontend/mietmiez/src/app/layout.tsx
  frontend/mietmiez/src/app/login/Login.tsx
  frontend/mietmiez/src/app/profile/page.tsx
  frontend/mietmiez/src/app/register/Register.tsx
  frontend/mietmiez/src/app/search/SearchPage.tsx
  frontend/mietmiez/src/app/search/page.tsx
  frontend/mietmiez/src/app/server_communication/server/AdvertisementCommunication.ts
Labels: enhancement, frontend, ux, ui, javascript

#171 feat(backend): add DELETE favourites endpoint
  backend/internal/controllers/user.go
  backend/routes/routes.go
  openapi/mietmiez-api-coverage/favourites/Add new favourite.bru
  openapi/mietmiez-api-coverage/favourites/Delete Favourite.bru
  openapi/mietmiez-api-coverage/favourites/Obtain user1 favorites (failure- unauthenticated).bru
  openapi/mietmiez-api-coverage/favourites/Obtain user1 favorites.bru
  openapi/mietmiez.yml
Labels: backend

#181 fix(frontend): translate to English
  frontend/mietmiez/src/app/profile/Profile.tsx
Labels: frontend

#179 feat(frontend): env and fixes
  configs/.frontend.env
  docker-compose.yml
  frontend/mietmiez/src/app/api/user/login/route.ts
  frontend/mietmiez/src/app/api/user/logout/route.ts
  frontend/mietmiez/src/app/api/user/register/route.ts
  frontend/mietmiez/src/app/api/user/route.ts
  frontend/mietmiez/src/app/components/UserState/PasswordResetInput.tsx
  frontend/mietmiez/src/app/components/button.tsx
  frontend/mietmiez/src/app/components/footer.tsx
  frontend/mietmiez/src/app/login/Login.tsx
  frontend/mietmiez/src/app/register/Register.tsx
Labels: enhancement, frontend, styling
